---
layout: default_en
permalink: blog_en
ref: blog
lang: en
---
{% assign posts = site.posts | where: "lang", page.lang %}
{% for post in posts %}
      <article class="post">
        <h1>{{ post.title }}</h1>
        <p>{{ post.excerpt }}</p>
        <a href="{{ post.url }}">[ {{ site.data.l18n.ReadMore[page.lang] }} ]</a>
      </article>
{% endfor %}
