{{ site.data.l18n.JekyllMultilanguage[page.lang] }}<!DOCTYPE html>
<html lang="{{ page.lang }}">
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description[page.lang] }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description[page.lang] }}" href="{{ site.baseurl }}/feed.xml" />

    <!-- Created with Jekyll Now - http://github.com/barryclark/jekyll-now -->
  </head>

  <body>
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <a href="{{ site.baseurl }}/index_en" class="site-avatar"><img src="{{ site.avatar }}" /></a>

          <div class="site-info">
            <h1 class="site-name"><a href="{{ site.baseurl }}/index_en">{{ site.name }}</a></h1>
            <p class="site-description">{{ site.description[page.lang] }}</p>
          </div>

	  <nav>
            <a href="{{ site.baseurl }}/blog_en">Blog</a>
            <a href="{{ site.baseurl }}/more_en">{{ site.data.l18n.More[page.lang] }}</a>
            <a href="{{ site.baseurl }}/press_en">{{ site.data.l18n.Press[page.lang] }}</a>
   		{% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
  		{% for post in posts %} {% if page.lang != post.lang %}<a href="{{ post.url | prepend: site.baseurl }}" class="{{ post.lang }}">{{ post.lang | upcase}}</a> {% endif %}{% endfor %}

  		{% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
  		{% for p in pages %}  {% if page.lang != p.lang %} <a href="{{ p.url | prepend: site.baseurl }}" class="{{ p.lang }}">{{ p.lang | upcase}}</a> {% endif %} {% endfor %}
 
          </nav>
 
	</div>
        </header>
      </div>
    </div>

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include svg-icons.html %}
        </footer>
      </div>
    </div>

    {% include analytics.html %}
  </body>
</html>
